# Data Preprocessing

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import rcParams

In [8]:
df = pd.read_excel('E Commerce Dataset.xlsx', sheet_name='E Comm')

In [9]:
df.sample(10)

,CustomerID,Churn,Tenure,PreferredLoginDevice,CityTier,WarehouseToHome,PreferredPaymentMode,Gender,HourSpendOnApp,NumberOfDeviceRegistered,PreferedOrderCat,SatisfactionScore,MaritalStatus,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
5488,55489,0,1.0,Mobile Phone,3,30.0,Credit Card,Female,3.0,5,Laptop & Accessory,3,Married,3,0,22.0,4.0,6.0,9.0,160.40
2492,52493,0,22.0,Phone,1,31.0,Debit Card,Female,2.0,3,Mobile,5,Married,2,0,14.0,1.0,1.0,4.0,132.11
3880,53881,0,6.0,Mobile Phone,1,9.0,Credit Card,Male,3.0,4,Laptop & Accessory,4,Married,2,0,14.0,1.0,2.0,7.0,179.70
415,50416,1,NaN,Phone,1,6.0,Debit Card,Female,3.0,5,Mobile,4,Single,8,1,13.0,1.0,3.0,7.0,122.16
4892,54893,1,1.0,Computer,1,12.0,Credit Card,Female,3.0,4,Mobile Phone,4,Single,2,0,18.0,1.0,2.0,3.0,149.22
3466,53467,1,1.0,Computer,3,16.0,E wallet,Female,3.0,4,Mobile Phone,2,Single,3,1,15.0,1.0,2.0,3.0,148.23
2813,52814,0,22.0,Computer,3,8.0,Credit Card,Male,3.0,4,Laptop & Accessory,4,Married,3,0,14.0,1.0,1.0,8.0,153.90
3305,53306,0,1.0,Computer,1,10.0,Credit Card,Male,3.0,4,Mobile Phone,2,Divorced,3,0,12.0,2.0,2.0,1.0,142.06
3913,53914,1,11.0,Computer,3,16.0,Debit Card,Male,3.0,6,Grocery,3,Married,9,0,12.0,2.0,NaN,11.0,254.36
3145,53146,0,7.0,Mobile Phone,1,7.0,Credit Card,Female,4.0,3,Grocery,3,Married,6,0,20.0,NaN,2.0,6.0,286.84

In [3]:
#pengelompokan
cats = ['PreferredLoginDevice','PreferredPaymentMode','Gender','PreferedOrderCat','MaritalStatus']
nums = ['Churn','Tenure','CityTier','WarehouseToHome','HourSpendOnApp','NumberOfDeviceRegistered','SatisfactionScore','NumberOfAddress'
            ,'Complain','OrderAmountHikeFromlastYear','CouponUsed','OrderCount','DaySinceLastOrder','CashbackAmount']

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5630 entries, 0 to 5629
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   CustomerID                   5630 non-null   int64
 1   Churn                        5630 non-null   int64
 2   Tenure                       5366 non-null   float64
 3   PreferredLoginDevice         5630 non-null   object
 4   CityTier                     5630 non-null   int64
 5   WarehouseToHome              5379 non-null   float64
 6   PreferredPaymentMode         5630 non-null   object
 7   Gender                       5630 non-null   object
 8   HourSpendOnApp               5375 non-null   float64
 9   NumberOfDeviceRegistered     5630 non-null   int64
 10  PreferedOrderCat             5630 non-null   object
 11  SatisfactionScore            5630 non-null   int64
 12  MaritalStatus                5630 non-null   object
 13  NumberOfAddress              5630 non-null   int64
 14  Complain                     5630 non-null   int64
 15  OrderAmountHikeFromlastYear  5365 non-null   float64
 16  CouponUsed                   5374 non-null   float64
 17  OrderCount                   5372 non-null   float64
 18  DaySinceLastOrder            5323 non-null   float64
 19  CashbackAmount               5630 non-null   float64
dtypes: float64(8), int64(7), object(5)
memory usage: 879.8+ KB

## Missing Value Treatment

In [5]:
df.isna().sum()

CustomerID                       0
Churn                            0
Tenure                         264
PreferredLoginDevice             0
CityTier                         0
WarehouseToHome                251
PreferredPaymentMode             0
Gender                           0
HourSpendOnApp                 255
NumberOfDeviceRegistered         0
PreferedOrderCat                 0
SatisfactionScore                0
MaritalStatus                    0
NumberOfAddress                  0
Complain                         0
OrderAmountHikeFromlastYear    265
CouponUsed                     256
OrderCount                     258
DaySinceLastOrder              307
CashbackAmount                   0
dtype: int64

In [6]:
sum_missing = df.isna().sum()
percent_missing = round(df.isnull().sum() * 100 / len(df),2)
missing_value_df = pd.DataFrame({'column_name': df.columns,
                                 'sum_missing': sum_missing,
                                 'percent_missing': percent_missing}).reset_index(drop=True)
missing_value_df

                    column_name  sum_missing  percent_missing
0                    CustomerID            0             0.00
1                         Churn            0             0.00
2                        Tenure          264             4.69
3          PreferredLoginDevice            0             0.00
4                      CityTier            0             0.00
5               WarehouseToHome          251             4.46
6          PreferredPaymentMode            0             0.00
7                        Gender            0             0.00
8                HourSpendOnApp          255             4.53
9      NumberOfDeviceRegistered            0             0.00
10             PreferedOrderCat            0             0.00
11            SatisfactionScore            0             0.00
12                MaritalStatus            0             0.00
13              NumberOfAddress            0             0.00
14                     Complain            0             0.00
15  OrderAmountHikeFromlastYear          265             4.71
16                   CouponUsed          256             4.55
17                   OrderCount          258             4.58
18            DaySinceLastOrder          307             5.45
19               CashbackAmount            0             0.00

## Outliers Treatment

## Feature Transformation

## Feature Encoding

## Class Imbalance