# Data Preprocessing

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import rcParams

In [3]:
df = pd.read_excel('E Commerce Dataset.xlsx', sheet_name='E Comm')

In [4]:
df.sample(10)

,CustomerID,Churn,Tenure,PreferredLoginDevice,CityTier,WarehouseToHome,PreferredPaymentMode,Gender,HourSpendOnApp,NumberOfDeviceRegistered,PreferedOrderCat,SatisfactionScore,MaritalStatus,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
3564,53565,0,4.0,Mobile Phone,1,14.0,Debit Card,Male,3.0,4,Laptop & Accessory,3,Married,3,0,14.0,9.0,9.0,10.0,159.91
4290,54291,0,17.0,Computer,1,35.0,Credit Card,Female,4.0,2,Mobile Phone,3,Single,6,0,13.0,1.0,2.0,3.0,172.39
842,50843,0,13.0,Phone,1,NaN,Debit Card,Male,2.0,3,Mobile,4,Divorced,4,0,22.0,1.0,1.0,3.0,123.87
3473,53474,0,15.0,Mobile Phone,1,14.0,COD,Female,3.0,2,Mobile Phone,3,Divorced,3,0,14.0,2.0,2.0,9.0,158.76
2563,52564,0,14.0,Mobile Phone,3,12.0,E wallet,Male,2.0,3,Fashion,3,Single,2,0,12.0,3.0,8.0,7.0,192.41
1546,51547,0,22.0,Computer,1,24.0,Debit Card,Male,3.0,3,Laptop & Accessory,1,Married,2,1,15.0,0.0,1.0,7.0,168.04
3366,53367,0,9.0,Mobile Phone,1,28.0,Debit Card,Female,3.0,4,Laptop & Accessory,2,Divorced,3,1,26.0,1.0,2.0,8.0,165.14
1684,51685,0,0.0,Mobile Phone,3,14.0,E wallet,Female,2.0,3,Laptop & Accessory,4,Married,2,0,18.0,0.0,1.0,7.0,162.14
3144,53145,0,3.0,Mobile Phone,1,26.0,COD,Male,3.0,4,Laptop & Accessory,2,Married,6,0,13.0,1.0,2.0,3.0,167.62
2871,52872,0,8.0,Phone,1,34.0,Credit Card,Female,4.0,4,Mobile Phone,4,Single,4,0,16.0,2.0,2.0,3.0,148.11

In [5]:
#pengelompokan
cats = ['PreferredLoginDevice','PreferredPaymentMode','Gender','PreferedOrderCat','MaritalStatus']
nums = ['Churn','Tenure','CityTier','WarehouseToHome','HourSpendOnApp','NumberOfDeviceRegistered','SatisfactionScore','NumberOfAddress'
            ,'Complain','OrderAmountHikeFromlastYear','CouponUsed','OrderCount','DaySinceLastOrder','CashbackAmount']

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5630 entries, 0 to 5629
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   CustomerID                   5630 non-null   int64
 1   Churn                        5630 non-null   int64
 2   Tenure                       5366 non-null   float64
 3   PreferredLoginDevice         5630 non-null   object
 4   CityTier                     5630 non-null   int64
 5   WarehouseToHome              5379 non-null   float64
 6   PreferredPaymentMode         5630 non-null   object
 7   Gender                       5630 non-null   object
 8   HourSpendOnApp               5375 non-null   float64
 9   NumberOfDeviceRegistered     5630 non-null   int64
 10  PreferedOrderCat             5630 non-null   object
 11  SatisfactionScore            5630 non-null   int64
 12  MaritalStatus                5630 non-null   object
 13  NumberOfAddress              5630 non-null   int64
 14  Complain                     5630 non-null   int64
 15  OrderAmountHikeFromlastYear  5365 non-null   float64
 16  CouponUsed                   5374 non-null   float64
 17  OrderCount                   5372 non-null   float64
 18  DaySinceLastOrder            5323 non-null   float64
 19  CashbackAmount               5630 non-null   float64
dtypes: float64(8), int64(7), object(5)
memory usage: 879.8+ KB

In [8]:
#Sebelum Merge
for col in cats:
    print(f'''Value count kolom {col}:''')
    print(df[col].value_counts())
    print()

Value count kolom PreferredLoginDevice:
Mobile Phone    2765
Computer        1634
Phone           1231
Name: PreferredLoginDevice, dtype: int64

Value count kolom PreferredPaymentMode:
Debit Card          2314
Credit Card         1501
E wallet             614
UPI                  414
COD                  365
CC                   273
Cash on Delivery     149
Name: PreferredPaymentMode, dtype: int64

Value count kolom Gender:
Male      3384
Female    2246
Name: Gender, dtype: int64

Value count kolom PreferedOrderCat:
Laptop & Accessory    2050
Mobile Phone          1271
Fashion                826
Mobile                 809
Grocery                410
Others                 264
Name: PreferedOrderCat, dtype: int64

Value count kolom MaritalStatus:
Married     2986
Single      1796
Divorced     848
Name: MaritalStatus, dtype: int64

In [9]:
df.loc[df['PreferredLoginDevice'] == 'Phone', 'PreferredLoginDevice' ] = 'Mobile Phone'
df.loc[df['PreferredPaymentMode'] == 'COD', 'PreferredPaymentMode' ] = 'Cash on Delivery'
df.loc[df['PreferredPaymentMode'] == 'CC', 'PreferredPaymentMode' ] = 'Credit Card'
df.loc[df['PreferedOrderCat'] == 'Mobile', 'PreferedOrderCat' ] = 'Mobile Phone'

In [10]:
#Sesudah Merge
for col in cats:
    print(f'''Value count kolom {col}:''')
    print(df[col].value_counts())
    print()

Value count kolom PreferredLoginDevice:
Mobile Phone    3996
Computer        1634
Name: PreferredLoginDevice, dtype: int64

Value count kolom PreferredPaymentMode:
Debit Card          2314
Credit Card         1774
E wallet             614
Cash on Delivery     514
UPI                  414
Name: PreferredPaymentMode, dtype: int64

Value count kolom Gender:
Male      3384
Female    2246
Name: Gender, dtype: int64

Value count kolom PreferedOrderCat:
Mobile Phone          2080
Laptop & Accessory    2050
Fashion                826
Grocery                410
Others                 264
Name: PreferedOrderCat, dtype: int64

Value count kolom MaritalStatus:
Married     2986
Single      1796
Divorced     848
Name: MaritalStatus, dtype: int64

## Missing Value Treatment

In [5]:
df.isna().sum()

CustomerID                       0
Churn                            0
Tenure                         264
PreferredLoginDevice             0
CityTier                         0
WarehouseToHome                251
PreferredPaymentMode             0
Gender                           0
HourSpendOnApp                 255
NumberOfDeviceRegistered         0
PreferedOrderCat                 0
SatisfactionScore                0
MaritalStatus                    0
NumberOfAddress                  0
Complain                         0
OrderAmountHikeFromlastYear    265
CouponUsed                     256
OrderCount                     258
DaySinceLastOrder              307
CashbackAmount                   0
dtype: int64

In [6]:
sum_missing = df.isna().sum()
percent_missing = round(df.isnull().sum() * 100 / len(df),2)
missing_value_df = pd.DataFrame({'column_name': df.columns,
                                 'sum_missing': sum_missing,
                                 'percent_missing': percent_missing}).reset_index(drop=True)
missing_value_df

                    column_name  sum_missing  percent_missing
0                    CustomerID            0             0.00
1                         Churn            0             0.00
2                        Tenure          264             4.69
3          PreferredLoginDevice            0             0.00
4                      CityTier            0             0.00
5               WarehouseToHome          251             4.46
6          PreferredPaymentMode            0             0.00
7                        Gender            0             0.00
8                HourSpendOnApp          255             4.53
9      NumberOfDeviceRegistered            0             0.00
10             PreferedOrderCat            0             0.00
11            SatisfactionScore            0             0.00
12                MaritalStatus            0             0.00
13              NumberOfAddress            0             0.00
14                     Complain            0             0.00
15  OrderAmountHikeFromlastYear          265             4.71
16                   CouponUsed          256             4.55
17                   OrderCount          258             4.58
18            DaySinceLastOrder          307             5.45
19               CashbackAmount            0             0.00

## Outliers Treatment

## Feature Transformation

## Feature Encoding

## Class Imbalance